## [Start] Setting "isHighlight" to default value of "false". **
$util.qr($context.args.input.put("isHighlight", $util.defaultIfNull($ctx.args.input.isHighlight, false)))
## [End] Setting "isHighlight" to default value of "false". **
## [Start] Setting "viewCount" to default value of "0". **
$util.qr($context.args.input.put("viewCount", $util.defaultIfNull($ctx.args.input.viewCount, 0)))
## [End] Setting "viewCount" to default value of "0". **
{}