## [Start] Setting "totalExercisesCompleted" to default value of "0". **
$util.qr($context.args.input.put("totalExercisesCompleted", $util.defaultIfNull($ctx.args.input.totalExercisesCompleted, 0)))
## [End] Setting "totalExercisesCompleted" to default value of "0". **
## [Start] Setting "streakDays" to default value of "0". **
$util.qr($context.args.input.put("streakDays", $util.defaultIfNull($ctx.args.input.streakDays, 0)))
## [End] Setting "streakDays" to default value of "0". **
{}