## [Start] Setting "accessCount" to default value of "0". **
$util.qr($context.args.input.put("accessCount", $util.defaultIfNull($ctx.args.input.accessCount, 0)))
## [End] Setting "accessCount" to default value of "0". **
{}