## [Start] Setting "isHighlight" to default value of "false". **
$util.qr($context.args.input.put("isHighlight", $util.defaultIfNull($ctx.args.input.isHighlight, false)))
## [End] Setting "isHighlight" to default value of "false". **
{}